name: Android Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - name: Install Fyne-cross
        run: go install github.com/fyne-io/fyne-cross@latest
      - name: Build APK
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          fyne-cross android --app-id com.arsen.rknsimulator --icon icon.png --release
      - uses: actions/upload-artifact@v3
        with:
          name: rkn-simulator-apk
          path: fyne-cross/dist/android/*.apk
